.post-box {
  border: 1px lightgrey solid;
  textarea {
    position: relative;
    height: 200px;
    resize: none;
  }
  .show-emojis {
    position: absolute;
    top: 0;
    right: 0;
  }
  .emojis {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .catchy {
    font-family: 'Modum';
  }
}
