<!DOCTYPE html>
<div class="container post-box my-2" [@itemAnim]>
  <!--<button type="button" (click)="emojis.show()">Emojis</button>-->
  <div class="row">
    <div class="offset-1 col-10">
      <h2 class="text-center catchy">
        {{randomCatchy}}
      </h2>
    </div>
    <div class="close" (click)="close()">
      x
    </div>
  </div>
  <div class="row p-3">
    <div class="col-6 col-md-3">
      <button class="w-100" [ngClass]="currentFlux === flux.Tendance ? 'tendance-bg' : ''" (click)="toggle(flux.Tendance);">
        Tendance
      </button>
    </div>
    <div class="col-6 col-md-3">
      <button class="w-100" [ngClass]="currentFlux === flux.DailyLife ? 'dailylife-bg' : ''" (click)="toggle(flux.DailyLife);">
        Daily Life
      </button>
    </div>
    <div class="col-6 col-md-3">
      <button class="w-100" [ngClass]="currentFlux === flux.LifeStyle ? 'lifestyle-bg' : ''" (click)="toggle(flux.LifeStyle);">
        Life Style
      </button>
    </div>
    <div class="col-6 col-md-3">
      <button class="w-100" [ngClass]="currentFlux === flux.Friends ? 'friends-bg' : ''" (click)="toggle(flux.Friends);">
        Friends
      </button>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-12">
      <textarea class="form-control" placeholder="Say something already" [(ngModel)]="currentPost.content"></textarea>
    </div>
  </div>
  <div class="row p-3">
    <div [ngClass]="show.postTypes ? 'col-12 col-md-3' : 'col-12 offset-md-4 col-md-4'">
      <button class="w-100" (click)="post(postType.Echo)">Echo</button>
    </div>
    <div class="col-12 col-md-3" *ngIf="!show.postTypes">
      <button class="w-100" (click)="show.postTypes = true">+</button>
    </div>
    <div class="col-12 col-md-3" *ngIf="show.postTypes">
      <button class="w-100" (click)="post(postType.Rumour)">Rumour</button>
    </div>
    <div class="col-12 col-md-3" *ngIf="show.postTypes">
      <button class="w-100" (click)="post(postType.Inquiry)">Inquiry</button>
    </div>
    <div class="col-12 col-md-3" *ngIf="show.postTypes">
      <button class="w-100" (click)="post(postType.Outrage)">Outrage</button>
    </div>
  </div>
  <app-emojis ref-emojis class="emojis" (onEmoji)="onEmoji($event)"></app-emojis>

</div>
