@import './../../core/global.scss';

.active {
  background-color: $rendeez;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.2);

  .subpanel {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}
