@import './../../core/global.scss';

nav {
  .header {
    .banner {
      border-radius: 20px;
      border: 1px solid lightgrey;
      color: black;
      background-color: white;
      h2, a {
        cursor: pointer;
      }
    }
    app-flux-box {
      width: 100%;
    }
  }
}
