<!DOCTYPE html>
<div class="container-fluid flux">
  <app-header></app-header>
  <div *ngFor="let post of feed$ | async">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-10">
        <div class="container card my-4" [ngClass]="postService.getPostTypeStyle(post.originName)">
          <div class="d-flex d-sm-none row card-header" *ngIf="showPostElement('postHeader', post._id)">
            <div class="col-12">
              <div>
                {{post.author.fullName}}
              </div>
              <div>
                R {{post.author.reputation.rank}}
              </div>
              <div>
                {{post.reputation.upvotes}} Ups / {{post.reputation.downvotes}} Downs
              </div>
              <div>
                {{post.createdOn}}
              </div>
            </div>
          </div>
          <div class="d-none d-sm-flex row card-header">
            <div class="col-6 text-center">
              <div>
                {{post.author.fullName}}
              </div>
              <div>
                R {{post.author.reputation.rank}}
              </div>
            </div>
            <div class="col-6 info-block bl">
              <div>
                {{post.reputation.upvotes}} Ups / {{post.reputation.downvotes}} Downs
              </div>
              <div>
                {{post.createdOn}}
              </div>
            </div>
          </div>
          <img class="d-block d-sm-none mx-auto" src="assets/img/arrow_up.svg" (click)="togglePostElement('postHeader', post._id)" *ngIf="!showPostElement('postHeader', post._id)">
          <img class="d-block d-sm-none mx-auto" src="assets/img/arrow_down.svg" (click)="togglePostElement('postHeader', post._id)" *ngIf="showPostElement('postHeader', post._id)">
          <div class="container card-body">
            <div class="row">
              <div class="col-12">
                <div class="title">
                  {{post.author.fullName}} is {{postVerbs[post.postType]}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="py-3" [innerHTML]="post.content"></div>
              </div>
            </div>
          </div>
          <img class="d-block mx-auto" src="assets/img/arrow_down.svg" (click)="togglePostElement('postVote', post._id)" *ngIf="post.author._id !== id && !showPostElement('postVote', post._id)">
          <img class="d-block mx-auto" src="assets/img/arrow_up.svg" (click)="togglePostElement('postVote', post._id)" *ngIf="post.author._id !== id && showPostElement('postVote', post._id)">
          <div class="card-footer" *ngIf="showPostElement('postVote', post._id)">
            <div class="row" *ngIf="post.author._id !== id && !post.vote">
              <div class="col-12" *ngFor="let positiveVote of postReplies[post.postType].positive">
                <button class="w-100 h-75 p-2 my-2 green-bg" (click)="upvote(post._id, postReplies[post.postType].positive.indexOf(positiveVote))">
                  {{positiveVote}}
                </button>
              </div>
              <div class="col-12" *ngFor="let negativeVote of postReplies[post.postType].negative">
                <button class="w-100 h-75 p-2 my-2 red-bg" (click)="downvote(post._id, postReplies[post.postType].negative.indexOf(negativeVote))">
                  {{negativeVote}}
                </button>
              </div>
            </div>
            <div class="row" *ngIf="post.vote">
              <div class="col-12" *ngIf="post.vote.vote === 'positive'">
                <button class="w-100 h-75 p-2 my-2 green-bg" (click)="cancelVote(post._id)">
                  {{postReplies[post.postType].positive[post.vote.voteType]}}
                </button>
              </div>
              <div class="col-12" *ngIf="post.vote.vote === 'negative'">
                <button class="w-100 h-75 p-2 my-2 red-bg" (click)="cancelVote(post._id)">
                  {{postReplies[post.postType].negative[post.vote.voteType]}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a pageScroll href="#header" class="arrow">
    ^
  </a>
</div>
