.has-good-reputation {
  background: green;
}

.has-bad-reputation {
  background: red;
}
.friend-list {

  height: 50vh;
  overflow-y: scroll;
}

.post-tendance {
  background-color: #03b0f5;
}

.post-friend {
  background-color: #0669b2;
}
