@import './../core/global.scss';

.arrow {
  position: fixed;
  bottom: 0; right: 5%;
  background-color: white;
  font-size: 40px;
  z-index: 1;
}
.info {
  width: 50px;
  border-radius: 50px !important;
}
.info-block {
  border-radius: 0px !important;

}
.title {
  padding: 10px 5px;
  border: 2px solid lightgrey;
  text-decoration: underline;
}
