@import './../../core/global.scss';
.login {
  em {
    font-family: 'Modum';
    font-style: normal;
    font-size: 40px;
  }
  button {
    &:focus {
      outline: none;
    }
  }
  .header {
    background-color: $yorel;
    h5 {
      color: white;
    }
    button {
      padding: 10px;
      font-size: 16px;
      line-height: 16px;
      margin: 5px 0;
    }
  }
  .banner {
    color: white;
    line-height: 4rem;
    em {
      font-family: 'Modum';
      font-style: normal;
      font-size: 60px;
    }
  }
}
