<!DOCTYPE html>
<div class="container py-2 login">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Your <em>Echo</em> journey</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8">
      <div class="container my-3 header">
        <form class="row py-2 border border-light" name="login">
          <div class="col-12">
            <input class="p-2 w-100" id="email" required name="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel">
          </div>
          <div class="col-12">
            <input class="p-2 w-100" type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
          </div>
          <div class="col-12">
            <div [hidden]="email.valid || email.pristine" class="alert">
              Invalid credentials
            </div>
          </div>
          <div class="offset-3 col-6 text-center">
            <button class="w-100 my-2 default-bg px-3" (click)="login(true)">Continue</button>
          </div>
        </form>
        <div class="row py-2 border border-light">
          <div class="offset-3 col-6 text-center">
            <button class="w-100 my-2 default-bg px-3" (click)="login(false)">Try</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="w-100" src="assets/img/logo_width.png" />
    </div>
  </div>
  <div class="row mt-1 mb-4">
    <div class="offset-2 col-8">
      <h1 class="banner text-center" routerLink="/signup"><u>Begin</u></h1>
    </div>
  </div>
  <app-footer></app-footer>
</div>
