/* You can add global styles to this file, and also import other style files */
@import './app/core/global.scss';
* {
  border-radius: 5px !important;
}
*:focus {
    outline: none;
}
body {
  color: black !important;
  background-color: $trickle !important;
  font-family: 'Roboto-Regular' !important;
}
button {
  cursor: pointer;
  font-size: 1.5em;
}
.default-bg {
  color: white;
  background-color: $trickle;
}

input, button, textarea {
  border-radius: 25px;
}
.tendance-bg {
  color: white;
  background-color: $azureon !important;
}

.friends-bg {
  color: white;
  background-color: $yorel !important;
}

.dailylife-bg {
  color: white;
  background-color: $bodel !important;
}

.lifestyle-bg {
  color: white;
  background-color: $rendeez !important;
}

.green-bg {
  color: white;
  background-color: $green !important;
}

.red-bg {
  color: white;
  background-color: $red !important;
}
.by {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.bl {
  border-left: 1px solid lightgrey;
}
/*
input:focus, button:focus {
  box-shadow: 0 0 3pt 2pt $yorel;

  outline: none;
  text-decoration: none;
  text-align: center;
}
*/
